<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage: Midterm</title>
</head>
<body>
    <h1>Routes List</h1>
    <ul>
        <li><a href="http://localhost:3000/recipes">All Recipes</a></li>
        <li><a href="http://localhost:3000/ingredients">All Ingredients</a></li>
        <li><a href="http://localhost:3000/recipes/cuisine/Indian">Recipes by Cuisine (Indian)</a></li>
        <li><a href="http://localhost:3000/recipe/65d91c4babd8db3eab883c66">Details about Recipe (Providing ID)</a></li>
        <li><a href="http://localhost:3000/ingredient/onion">Profile Information about Ingredient (Onion)</a></li>
    </ul>
</body>
</html>
